*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #FFFB00;
  --pink: #FF85F1;
  --black: #000000;
  --font-display: 'Barlow Condensed', sans-serif;
  --font-body: 'PP Neue Montreal', 'Neue Montreal', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
